body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 640px;
  perspective: 1000px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: yellow;
  color: black;
}

.flip-card-back {
  background-color: yellow;
  color: black;
  transform: rotateY(180deg);
}
img {
  width: 350px;
  height: 320px;
}
.btn {
  background-color: red;
  padding: 5px;
  width: 100%;
  outline: none;
  border: none;
}
.more {
    margin-top: -5px;
}
